{% extends "theme_base.html" %}
{% load i18n %}
{% load url from future %}
{% load staticfiles %}

{% block extra_head_base %}
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min' %}"/>
 
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block nav %}
    <ul class="nav">
        <li id="tab_first">
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li id="tab_second">
            <a href="{% url 'layers:index' %}">Layers</a>
        </li>
        <li id="tab_third">
            <a href="{% url 'calculate:calculate' %}">Calculate</a>
        </li>
    </ul>
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
    {% block extra_body %}{% endblock %}
{% endblock %}